body {
  margin: 0;
}
a {
  text-decoration: none;
}
header,
section{
  width: 100%;
  float: right;
  border-bottom: 4px #e1e4e8 solid;
}
aside, 
.summary,
.workflow li,
.languages li{
  font-family: Open Sans, serif;
}
.content h1,
.mainContact,
.content h2,
.content h6{
  font-family: Saira Extra Condensed, serif;
}

/* Начало блока ASIDE*/
aside{
  position: fixed;
  width: 250px;
  height: 100vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  background-color: #004085; 
}
aside * {
  color: #ffffff;
}
.photo{
  margin: 120px 25px -10px 25px;
  border-radius: 100px;
  border: 5px #33669d solid;
}
aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
aside h4 {
  margin-bottom: 10px;
}
aside li {
  margin-top: 0;
  line-height: 40px;
  opacity: 0.5;
}
aside li a:hover{
  color: #5792c2;
}
/* Конец ASIDE*/



/* Начало Header*/
.content {
  margin-left: 250px;
  padding-left: 80px;
}
.content h1 {
  margin-top: 150px;
  margin-bottom: -30px;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase; 
  color: #343a40;
}
.content h1 span{
  color: #004085
}
.mainContact{
  margin-top: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  color: #959ba2;
}
.mainContact a{
  color: #959ba2;
}
.mainContact .mail{
  color: #0a478a;
}
.mail:hover{
  text-decoration:underline;
}
.summary {
  font-weight: 400;
  margin-top: 65px;
  font-size: 16px;
  color: #868e96;
}
.socialMedia{
  margin: 70px 0 110px 0;
  padding: 0;
}
.socialMedia li{
  list-style: none;
  display: inline;
  margin-right: 10px;
}
.socialMedia img {
  border-radius: 30px;
}
.socialMedia img:hover{
  filter:sepia(70%);
  transform:scale(1.2);
}
/*Конец Header*/


/*Начало Section*/
.content h2 {
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
  margin: 50px 0 45px 0;
}
.content h6{
  font-size: 22px;
  font-weight: 500;
  color: #868e96;
  text-transform: uppercase;
  margin: 0;
}
.programming{
  list-style: none;
  padding: 0;
  margin: 0;
}
.programming li {
  display: inline-block;
  margin: 5px 10px 40px 0;
}
.workflow li{
  list-style-image:url(img/icon_list.png);
  font-weight: 400;
  font-size: 16px;
  color: #868e96;
}
.workflow{
  margin-bottom: 40px;
}
.languages{
  margin-bottom: 100px;
}
.languages li{
  font-weight: 400;
  font-size: 16px;
  color: #868e96;
}
.languages li::before{
  color: #868e96;
}
